
<div>
{% if inkychap.type == 'InkyText' %}
	{{ render(controller('InkyCourseBundle:InkyChap:renderInkyText', {'inkyChap':inkychap.id })) }}
{% endif %}
{% if inkychap.type == 'InkyVideo' %}
{{ render(controller('InkyCourseBundle:InkyChap:renderInkyVideo', {'inkyChap':inkychap.id })) }}
{% endif %}
{% if inkychap.type == 'InkyQuiz' %}
{{ render(controller('InkyCourseBundle:InkyChap:renderInkyQuiz', {'inkyChap':inkychap.id })) }}
{% endif %}
</div>
